body{
    display: flex;
    flex-direction: column;
}

.first, .footer{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.first{
    padding-bottom: 84px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-bottom: 24px;
}

ul{

    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /*margin-left: auto;*/
    gap: 8px;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

a{
    text-decoration: none;
    color: white;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 8px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: 8px;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-sec{
    color: #e5e7eb;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 0px 24px;
}

img{
    display: flex;
    width: 700px;
    height: 240px;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 48px 0px 96px;
}

.second-part{
    display: flex;
    gap: 36px;
}

.img-desc{
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
    gap: 8px;
}

.sec-img{
    width:150px;
    height: 150px;
    border-radius: 10px;
    border: 2px #3882f6;
}

.second-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.third{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.cont{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.quote{
    margin-top: 48px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;

}

.desig{
    font-weight: bold;
    margin-bottom: 96px;
    align-self: flex-end;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.con{
    display: flex;
    background-color: #3882f6;
    margin-top: 96px;
    margin-bottom: 96px;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    padding: 48px;
    gap: 8px;
    color: #f9faf8;
    border-radius: 10px;
}

.four-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bolder{
    font-weight: bolder;
}

.footer{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    padding: 48px;
}


